{% extends './layout.html' %}
{% block head %}
  {% load static %}
  <script src="{% static 'users/scripts/ajax.js' %}"></script>
{% endblock %}
{% block body %}
<h1>You are at the users index.</h1>
  <form action="{% url 'users:search' %}" id="user-search-form">
    {% csrf_token %}
    <input type="text" id="user-search-input">
    <input type="submit" value="Submit">
  </form>
  <div class="found-users">
  </div>
  <h2>Users You've Mutually Matched With</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in mutual_matches %}
      <tr>
        <td><a href="{% url 'users:show' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
        <td>{{ user.gender }}</td>
        <td>{{ user.description }}</td>
        <td>
          <form action="{% url 'matches:delete' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.session.user_id }}">
            <input type="hidden" name="unmatched_user" value="{{ user.id }}">
            <input type="submit" value="Unmatch">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Users You've Sent Matches To</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in matches_to %}
      <tr>
        <td><a href="{% url 'users:show' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
        <td>{{ user.gender }}</td>
        <td>{{ user.description }}</td>
        <td>
          <form action="{% url 'matches:delete' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ request.session.user_id }}">
            <input type="hidden" name="unmatched_user" value="{{ user.id }}">
            <input type="submit" value="Unmatch">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h2>Users Not Matched</h2>
  {% if not_matched %}
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Gender</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in not_matched %}
          <tr>
            <td><a href="{% url 'users:show' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
            <td>{{ user.gender }}</td>
            <td>{{ user.description }}</td>
            <td>
              <form action="{% url 'matches:create' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="user" value="{{ request.session.user_id }}">
                <input type="hidden" name="matched_user" value="{{ user.id }}">
                <input type="submit" value="Match">
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}